{% load static %}
<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="display-5">Our Services</h1>
            <p class="mb-5">We serve our customers with a wide range of financial products and services, supported by expert bankers from over 15+ leading banks across India. Our goal is to provide you with the best possible solutions tailored to your needs.</p>
            
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Business Loan</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Loan Against Property</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Working Capital (OD / CC)</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Personal Loan</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0"
                    data-bs-toggle="pill" data-bs-target="#tab-pane-5" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Home Loan</h5>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{% static 'img/service-1.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">Business Loan</h3>
                                <p class="mb-4">A business thrives when expertise meets efficient use of resources. At FinXpert Solution LLP, we are committed to arranging Working Capital that supports your day-to-day business operations seamlessly across the city.</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{% static 'img/service-2.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">Loan Against Property</h3>
                                <p class="mb-4">Using your existing property as collateral is a smart way to obtain a loan at affordable interest rates. Whether it’s for emergencies, education, or other financial needs, a Loan Against Property (LAP) lets you access funds easily without selling your asset.</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{% static 'img/service-3.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">Working Capital (OD / CC)</h3>
                                <h4 class="mb-4">Overdraft (OD):</h3>
                                <p class="mb-4">
                                    Overdraft is a popular facility used by businesses that allows the account holder to withdraw funds beyond their account balance, up to an agreed limit. This helps manage short-term operating expenses smoothly. The interest rates and credit limits are usually determined based on the borrower’s relationship and creditworthiness with the lending institution.
                                </p>
                                <h4 class="mb-4">Cash Credit (CC):</h3>
                                <p class="mb-4">
                                    Cash Credit is another form of working capital finance where businesses can withdraw money up to a sanctioned limit against the security of inventory or receivables. It helps in maintaining liquidity for daily business operations. Like overdraft, the interest rates and limits depend on the firm’s financial profile and the lender’s terms.
                                </p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-4">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{% static 'img/service-4.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">Personal Loan</h3>
                                <p class="mb-4">
                                    We offer all types of personal loans, including salary transfer loans, non-salary transfers loans, and bank balance transfers, all at the best interest rates to meet your individual financial needs.
                                </p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-5">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="{% static 'img/service-4.jpg' %}"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">Home Loan</h3>
                                <p class="mb-4">
                                    Purchasing a home is a major milestone in life. At FinXpert Solution LLP, we assist you in securing the ideal loan to buy your perfect home or renovate your current one, customized to suit your financial goals and budget.
                                </p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>