{% load static %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            {% comment %} <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Testimonial</p> {% endcomment %}
            <h1 class="display-5">Trusted Banks & NBFC's</h1>
            <p class="">We offer a wide range of financial products and services, supported by expert bankers from over 20 leading banks across India. Our goal is to serve you in the best possible way.</p>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.3s">
            {% for bank in BANK_LOGOS %}
            <div class="testimonial-item">
                <div class="bank-logo-container">
                    <img src="{% static bank.image_path %}" alt="{{ bank.name }}" class="bank-logo">
                </div>
            </div>
            {% endfor %}    
        </div>
    </div>
</div>

<style>
    .bank-logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        background-color: #fff;
        border-radius: 8px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    }
    
    .bank-logo {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: 60px;
        object-fit: contain;
    }
</style>