{% load static %}

<div class="container-xxl feature py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                {% comment %} <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choosing Us!</p> {% endcomment %}
                <h3 class="display-5 mb-4">Why {{COMPANY_NAME}}?</h3>
                <p class="mb-4">We are financial consultants dedicated to assisting clients with all their financial requirements while maintaining long-term, trusted relationships.                </p>
                
                <p class="mb-4">We ensure that our services do not negatively impact the client’s CIBIL score. In fact, we guide our clients on how to improve and maintain a healthy credit profile.</p>
                <p class="mb-4">Our experienced and well-equipped back-end team possesses deep financial knowledge. They understand the customer's fund requirements based on end-use and provide proper guidance for preparing well-documented files, ensuring a smooth and quick approval process.</p>
                <p class="mb-4">We offer competitive commercial rates in the market and provide customized financial solutions tailored to our clients' needs—helping turn their financial goals into reality.</p>
                <a class="btn btn-primary py-3 px-5" href="{% url 'finance:about' %}">Explore More</a>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" alt="Why Choose Us" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>  